<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myfour.dao.LearnMapper">
	<select id="queryLearnResourceList" parameterType="LearnResource" resultType="LearnResource">
		select * from learn_resource
		<where>
			<if test="id!=null and id!=''">
				and id=#{id}
			</if>
			<if test="author!=null and author!=''">
				and author = #{author,jdbcType=VARCHAR}
			</if>
			<if test="title!=null and title!=''">
				and title = #{title,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	<select id="queryLearnResourceById" parameterType="Long" resultType="LearnResource">
		select * from learn_resource where id=#{id}
	</select>
	<insert id="add" parameterType="LearnResource">
		insert into learn_resource(author,title,url) values(#{author},#{title},#{url})
	</insert>
	<update id="update" parameterType="LearnResource">
		update learn_resource set author=#{author},title=#{title},url=#{url} where id=#{id}
	</update>
	
	<!-- collection属性的取值有3种，分别对应相应的集合类型，list，array，map；3者对应传入的参数的类型 -->
	<delete id="deleteByIds" parameterType="String">
		delete from learn_resource where id in
		<foreach collection="array" item="idItem" open="(" separator="," close=")" >
			#{idItem}
		</foreach>
	</delete>
</mapper>