<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<title>old page</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<link rel="stylesheet" th:href="@{bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{bootstrap/css/bootstrap-theme.css}" />
<script type="text/javascript" th:src="@{jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{bootstrap-paginator.js}"></script>
</head>
<body style="background-image: none;">
	<div>
		<code>Myfour's Page</code>
		<div class="jumpbotron">

			<table id="contents" class="table table-bordered">
				<tr>
					<td>所有人</td>
					<td>名称</td>
					<td>网址</td>
				</tr>
				<!-- 	<tr th:if="${not #lists.isEmpty(pageinfo.list)}" th:each="item : ${pageinfo.list}"
					class="text-info">
					<td th:text="${item.owner}">Myfour</td>
					<td th:text="${item.webname}">BestMyfour</td>
					<td><a href="#" th:href="${item.address}"
						class="btn btn-success" target="_blank"><span>click me</span></a>
					</td>
				</tr> -->

			</table>
			<ul id='data-pagination'></ul>
		</div>
	</div>
	<script type="text/javascript">
		function pageHtml(pageNum) {
			
			if (pageNum == 0) {
				pageNum = 1;
			} else {
				pageNum = pageNum;
			}
			
			$.ajax({
				url : "/learn/query",
				type : "get",
				dataType : "json",
				data : {
					PageNum : pageNum
				},
				success : function(data) {
					console.log(data);
					var options = {
						bootstrapMajorVersion : 3,//需要指定相应的版本
						alignment : "center",
						currentPage : data.pageNum,//当前页码
						totalPages : data.pages,//总页数
						shouldShowPage:true,//是否始终显示首末页按钮
			            itemTexts: function (type, page, current) {

			                switch (type) {

			                    case "first":

			                        return "首页";

			                    case "prev":

			                        return "上一页";

			                    case "next":

			                        return "下一页";

			                    case "last":

			                        return "末页";

			                    case "page":

			                        return page;

			                   }
			                },//修改按钮的文字显示
			                //numberOfPages: 5,//一页显示几个按钮  
			            //onPageClicked: function (event, originalEvent, type, page) {},//点击事件
						pageUrl : function(type, page, current) {
							if (page == current) {
								return "javascript:void(0)";
							} else {
								return "javascript:pageHtml(" + page + ")";
							}
						}
					};
					var html = "";
					//下面拼接Html时，应该单个标签单个标签的来拼接'<tr>'+xxx+'</tr>'
					$.each(data.list, function(i, obj) {
						html += '<tr id="de" class="text-info"><td>' + obj.author
								+ '</td>' + '<td>' + obj.title + '</td>'
								+ '<td><a href="'+obj.url+'">' + obj.url
								+ '</a></td>' + '</tr>';
					});
					$("#contents tr:not(:first)").empty();//利用选择器清空除表头意外的所有元素
					$("#contents").append(html);
					
					$("#data-pagination").bootstrapPaginator(options);//初始化paginator这个插件
				}
			});
		}
		$(function() {
			pageHtml(1);
		});
	</script>
</body>
</html>